{% extends 'base.html' %} {% block content %}
<!-- Página de blog -->

<article class="container blog-post">
  <h1 class="blog-post-title mb-1">{{post.title}}</h1>
  <p class="card-text mb-1">
    {% if get_user(post.author).photo is none %}
    <img
      src="{{url_for('static', filename='img/user-dark.png')}}"
      class="rounded-circle"
      alt=""
      width="40"
      height="40"
    />
    {%else%}
    <img
      src="{{url_for('static', filename= get_user(post.author).photo)}}"
      class="rounded-circle"
      alt=""
      width="40"
      height="40"
    />
    {%endif%}
    <span class="mb-1 text-muted">
      {{post.create_at.strftime("%d/%m/%Y")}} by
      <b>{{get_user(post.author).username}}</b>
    </span>
    <div class="blog-post-body">
        <p class="card-text mb-3 mt-3">{{post.info}}</p>
        <p class="card-text mb-3 mt-3">
            {{post['content'] | safe}}

        </p>

    </div>
  </p>
</article>
{% endblock %}
